# DS-SF-32 | Homework 02: The `pandas` Library

In this homework, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [2]:
import os
import pandas as pd
# TODO

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [13]:
df = pd.read_csv(os.path.join('C:\GIT', 'DS-SF-32', 'dataset', 'ozone.csv'))
#C:\GIT\DS-SF-32\datasetd

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 2.  Display a few lines of the dataset to the screen.

In [14]:
df.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

> ## Question 3.  How many observations (i.e., rows) are in this dataset?

In [36]:
df.shape
#there are 153 rows in the dataset

(153, 6)

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [23]:
a = df.columns.tolist()
for row in a:
    print row

Ozone
Solar.R
Wind
Temp
Month
Day

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [33]:
len(df.columns)
#there are 6 columns in the dataset

6

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [38]:
print df.iloc[0:2,:]

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [39]:
print df.iloc[-2:,:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

> ## Question 8.  What is the value of Ozone in the 47th row?

In [106]:
print df.loc[46,['Ozone']]
print "the value of Ozone in the 47th row is", df.loc[46,['Ozone']]

Ozone    21.0
Name: 46, dtype: float64
the value of Ozone in the 47th row is Ozone    21.0
Name: 46, dtype: float64

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [105]:
df.info()
#Number of missing values = 153 - 116
#second method below
df['Ozone'].isnull().sum()
print "there are",  df['Ozone'].isnull().sum(), "missing values in the Ozone column"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB
there are 37 missing values in the Ozone column

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [59]:
print df['Ozone'].mean()
print df['Ozone'].dropna().mean()
#two approaches taken. First, I calculated the mean of the Ozone column in the original dataframe. Then, I used dropna() and then calculated mean.
#both yielded the same value - 42.13

42.1293103448
42.1293103448

count    116.000000
mean      42.129310
std       32.987885
min        1.000000
25%       18.000000
50%       31.500000
75%       63.250000
max      168.000000
Name: Ozone, dtype: float64

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [71]:
cool = df.copy()
cool = cool[cool['Ozone'] > 31]
cool = cool[cool['Temp'] > 90]
print cool
cool.shape

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

(10, 6)

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [103]:
cool['Solar.R'].mean()
print "The mean of Solar.R in the subset is", cool['Solar.R'].mean()

The mean of Solar.R in the subset is 212.8

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [93]:
clue = df.copy()
clue = clue[clue['Month'] == 6]
print clue['Temp'].mean()
print "The mean of Temp when Month=6 is", clue['Temp'].mean()

79.1
The mean of Temp when Month=6 is 79.1

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [102]:
c = df.copy()
c = c[c['Month'] == 5]
print c['Ozone'].max()
print "Ozone's maximum in May was", c['Ozone'].max()

115.0
Ozone's maximum in May was 115.0