In [1]:
import pandas as pd
import numpy as np

flights = pd.read_csv('flights3withDelay_Group2.csv')
flights = pd.DataFrame(flights)

In [2]:
flights.head()

,Unnamed: 0,Unnamed: 0.1,index,Unnamed: 0.1,AIRLINE,N-NUMBER,ORIGIN_AIRPORT,ARRIVAL_DELAY,DAY_COUNT,SCHEDULED_DEPARTURE,YEAR MFR,NO-SEATS,Delay_Group
0,0,104,104,104,EV,14998,ATL,14.0,1,5,2000,32.0,Upto 15 mins
1,1,288,288,288,F9,949FR,ATL,24.0,1,6,2006,147.0,15 to 30 mins
2,2,665,665,665,DL,918DL,ATL,8.0,1,6,1988,240.0,Upto 15 mins
3,3,681,681,681,OO,792SK,ATL,7.0,1,6,2009,40.0,Upto 15 mins
4,4,742,742,742,DL,555NW,ATL,-7.0,1,6,2002,149.0,On Time

In [3]:
flights.dropna(axis=0, inplace=True)

In [4]:
flights.dtypes

Unnamed: 0               int64
Unnamed: 0.1             int64
index                    int64
Unnamed: 0.1             int64
AIRLINE                 object
N-NUMBER                object
ORIGIN_AIRPORT          object
ARRIVAL_DELAY          float64
DAY_COUNT                int64
SCHEDULED_DEPARTURE      int64
YEAR MFR                object
NO-SEATS               float64
Delay_Group             object
dtype: object

In [5]:
flights.reset_index(inplace=True)

In [6]:
Hour_dum = pd.get_dummies(flights['SCHEDULED_DEPARTURE'], prefix='HOUR')
airline_dum = pd.get_dummies(flights['AIRLINE'], prefix='AIRLINE')
airport_dum = pd.get_dummies(flights['ORIGIN_AIRPORT'], prefix='AIRPORT')
#MFG_dum = pd.get_dummies(flight['YEAR MFR'], prefix='YearMFG')

In [7]:
airport_dum.head()

,AIRPORT_ATL,AIRPORT_BOS,AIRPORT_BWI,AIRPORT_CLT,AIRPORT_DEN,AIRPORT_DFW,AIRPORT_DTW,AIRPORT_EWR,AIRPORT_IAH,AIRPORT_JFK,AIRPORT_LAS,AIRPORT_LAX,AIRPORT_LGA,AIRPORT_MCO,AIRPORT_MSP,AIRPORT_ORD,AIRPORT_PHX,AIRPORT_SEA,AIRPORT_SFO,AIRPORT_SLC
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
flights2 = flights.copy()

In [9]:
flights3 = pd.concat([flights2,Hour_dum,airline_dum,airport_dum], axis=1)

In [10]:
flights3.tail()

,level_0,Unnamed: 0,Unnamed: 0.1,index,Unnamed: 0.1,AIRLINE,N-NUMBER,ORIGIN_AIRPORT,ARRIVAL_DELAY,DAY_COUNT,...,AIRPORT_LAS,AIRPORT_LAX,AIRPORT_LGA,AIRPORT_MCO,AIRPORT_MSP,AIRPORT_ORD,AIRPORT_PHX,AIRPORT_SEA,AIRPORT_SFO,AIRPORT_SLC
2439991,2912794,2912794,5714627,5714627,5714627,WN,215WN,BWI,-12.0,365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2439992,2912795,2912795,5714655,5714655,5714655,WN,960WN,BWI,-1.0,365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2439993,2912796,2912796,5714656,5714656,5714656,WN,7732A,BWI,29.0,365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2439994,2912797,2912797,5714710,5714710,5714710,WN,774SW,BWI,2.0,365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2439995,2912798,2912798,5714902,5714902,5714902,WN,945WN,BWI,-13.0,365,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
flights3.columns

Index([u'level_0', u'Unnamed: 0', u'Unnamed: 0.1', u'index', u'Unnamed: 0.1',
       u'AIRLINE', u'N-NUMBER', u'ORIGIN_AIRPORT', u'ARRIVAL_DELAY',
       u'DAY_COUNT', u'SCHEDULED_DEPARTURE', u'YEAR MFR', u'NO-SEATS',
       u'Delay_Group', u'HOUR_0', u'HOUR_1', u'HOUR_2', u'HOUR_5', u'HOUR_6',
       u'HOUR_7', u'HOUR_8', u'HOUR_9', u'HOUR_10', u'HOUR_11', u'HOUR_12',
       u'HOUR_13', u'HOUR_14', u'HOUR_15', u'HOUR_16', u'HOUR_17', u'HOUR_18',
       u'HOUR_19', u'HOUR_20', u'HOUR_21', u'HOUR_22', u'HOUR_23',
       u'AIRLINE_AA', u'AIRLINE_AS', u'AIRLINE_B6', u'AIRLINE_DL',
       u'AIRLINE_EV', u'AIRLINE_F9', u'AIRLINE_HA', u'AIRLINE_MQ',
       u'AIRLINE_NK', u'AIRLINE_OO', u'AIRLINE_UA', u'AIRLINE_US',
       u'AIRLINE_VX', u'AIRLINE_WN', u'AIRPORT_ATL', u'AIRPORT_BOS',
       u'AIRPORT_BWI', u'AIRPORT_CLT', u'AIRPORT_DEN', u'AIRPORT_DFW',
       u'AIRPORT_DTW', u'AIRPORT_EWR', u'AIRPORT_IAH', u'AIRPORT_JFK',
       u'AIRPORT_LAS', u'AIRPORT_LAX', u'AIRPORT_LGA', u'AIRPORT_MCO',
       u'AIRPORT_MSP', u'AIRPORT_ORD', u'AIRPORT_PHX', u'AIRPORT_SEA',
       u'AIRPORT_SFO', u'AIRPORT_SLC'],
      dtype='object')

In [21]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators = 6)
X = flights3[['HOUR_5', 'HOUR_6','HOUR_7','HOUR_8','HOUR_17','HOUR_18','HOUR_19','AIRLINE_AA','AIRLINE_UA','AIRLINE_DL','AIRLINE_WN','AIRLINE_AS','AIRPORT_ATL','AIRPORT_ORD','AIRPORT_SEA','AIRPORT_DEN','AIRPORT_IAH','AIRPORT_EWR','AIRPORT_LAX','AIRPORT_SFO','DAY_COUNT','NO-SEATS']]
y = flights3['Delay_Group']

In [22]:
model.fit(X,y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=6, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [23]:
model.score(X,y)

0.6541748429095785

0.65172

In [2]:
import pandas as pd
import numpy as np
A = {'player' : ['Rob', 'Rib', 'Rob', 'Rob', 'Ala', 'Lew'], 'Rating' : [7,8,8,6,7,8], 'Shot?' : ['yes', 'yes', 'no', 'no', 'yes', 'yes']}
A = pd.DataFrame(A)

In [3]:
A.head()

   Rating Shot? player
0       7   yes    Rob
1       8   yes    Rib
2       8    no    Rob
3       6    no    Rob
4       7   yes    Ala

In [11]:
dum = pd.get_dummies(A['Rating'], prefix='Rating')

In [12]:
pd.concat([A,dum], axis=1)

   Rating Shot? player  Rating_6  Rating_7  Rating_8
0       7   yes    Rob       0.0       1.0       0.0
1       8   yes    Rib       0.0       0.0       1.0
2       8    no    Rob       0.0       0.0       1.0
3       6    no    Rob       1.0       0.0       0.0
4       7   yes    Ala       0.0       1.0       0.0
5       8   yes    Lew       0.0       0.0       1.0