In [1]:
import pandas as pd
import numpy as np
tail = pd.read_csv('tail.csv')
tail = pd.DataFrame(tail)
ACref = pd.read_csv('ACFTREF copy.csv', sep='\t')
ACref = pd.DataFrame(ACref)
ACage = pd.read_csv('MASTER copy1.csv')
ACage = pd.DataFrame(ACage)

In [180]:
tail2 = tail['TAIL_NUMBER'].unique().tolist()

In [181]:
kaggle_unique = pd.DataFrame(tail2)

In [182]:
kaggle_unique.head()

        0
0  N407AS
1  N3KUAA
2  N171US
3  N3HYAA
4  N527AS

In [183]:
kaggle_unique = kaggle_unique[0].map(lambda x: x.lstrip('N'))

In [184]:
kaggle_unique.tail()

4891    8675A
4892    7LUAA
4893    7LEAA
4894    850DN
4895    8676A
Name: 0, dtype: object

In [188]:
kaggle_unique = pd.DataFrame(kaggle_unique)

In [189]:
kaggle_unique = kaggle_unique.rename(columns={0: 'N-NUMBER'})

In [192]:
kaggle_unique.head()

  N-NUMBER
0    407AS
1    3KUAA
2    171US
3    3HYAA
4    527AS

In [74]:
ACref[ACref['MFR'] == "BOEING                        "]

,No.,CODE,MFR,MODEL,TYPE-ACFT,TYPE-ENG,AC-CAT,BUILD-CERT-IND,NO-ENG,NO-SEATS,AC-WEIGHT,SPEED
36081,36082,05628NI,BOEING,787-8,5,5,1,1,2,260,CLASS 3,0
37674,37675,05629VS,BOEING,787-83Q,5,5,1,1,2,260,CLASS 3,0
40701,40702,563284,BOEING,H-6,6,3,1,1,1,2,CLASS 1,0
61318,61319,610006,BOEING,PMTD,4,1,1,1,1,0,CLASS 1,0
67744,67745,1351610,BOEING,CH-46E,6,3,1,0,2,25,CLASS 2,0
67791,67792,1380000,BOEING,40B,4,1,1,0,1,3,CLASS 1,0
67792,67793,138004A,BOEING,777-28EER,5,5,1,0,2,270,CLASS 3,0
67793,67794,138004B,BOEING,767-346F,5,5,1,0,2,2,CLASS 3,0
67794,67795,138004C,BOEING,777-233LR,5,5,1,0,2,270,CLASS 3,0
67795,67796,138004D,BOEING,777-337ER,5,5,1,0,2,552,CLASS 3,0
67796,67797,138004P,BOEING,727-2K5,5,4,1,0,3,162,CLASS 3,0
67797,67798,138004Q,BOEING,727-2K3,5,4,1,0,3,162,CLASS 3,0
67798,67799,1380095,BOEING,95,4,1,1,0,1,1,CLASS 1,0
67799,67800,1380099,BOEING,B-747-200F,5,4,1,0,4,390,CLASS 3,0
67800,67801,1380100,BOEING,B-747-SP,5,4,1,0,4,400,CLASS 3,0
67802,67803,1380102,BOEING,A75L3,4,1,1,0,1,2,CLASS 1,93
67804,67805,1380104,BOEING,75,4,1,1,0,1,2,CLASS 1,93
67806,67807,1380106,BOEING,PT-13,4,1,1,0,1,2,CLASS 1,93
67808,67809,1380108,BOEING,A75,4,1,1,0,1,2,CLASS 1,93
67810,67811,1380110,BOEING,PT-13A,4,1,1,0,1,2,CLASS 1,93
67812,67813,1380112,BOEING,PT-13B,4,1,1,0,1,2,CLASS 1,93
67814,67815,1380114,BOEING,PT-13C,4,1,1,0,1,2,CLASS 1,93
67816,67817,1380116,BOEING,B75,4,1,1,0,1,2,CLASS 1,93
67818,67819,1380118,BOEING,N2S-2,4,1,1,1,1,2,CLASS 1,93
67820,67821,138011H,BOEING,AH-64,6,3,1,1,2,2,CLASS 1,0
67821,67822,138011I,BOEING,AH-64D,6,3,1,1,2,2,CLASS 1,0
67822,67823,138011J,BOEING,F-15E,5,4,1,1,2,2,CLASS 2,0
67823,67824,138011K,BOEING,F-15SG,5,5,1,1,2,2,CLASS 1,0
67824,67825,138011M,BOEING,AH-64E,6,3,1,1,2,1,CLASS 2,0
67825,67826,1380120,BOEING,E75,4,1,1,0,1,2,CLASS 1,93
...,...,...,...,...,...,...,...,...,...,...,...,...
69355,69356,1385400,BOEING,767-381F,5,5,1,0,2,330,CLASS 3,0
69356,69357,1385440,BOEING,777-22KLR,5,5,1,0,2,442,CLASS 3,0
69357,69358,1385500,BOEING,777-26K,5,4,1,0,2,330,CLASS 3,0
69358,69359,1385501,BOEING,777-240,5,4,1,0,2,440,CLASS 3,0
69359,69360,1385502,BOEING,777-240LR,5,4,1,0,2,440,CLASS 3,0
69360,69361,1385600,BOEING,777-206,5,4,1,0,2,550,CLASS 3,0
69361,69362,1385609,BOEING,787-9,5,5,1,0,2,422,CLASS 3,0
69362,69363,1385700,BOEING,777-381ER,5,4,1,0,2,400,CLASS 3,0
69363,69364,1385701,BOEING,777-3Q8ER,5,5,1,0,2,400,CLASS 3,0
69364,69365,138570A,BOEING,777-39MER,5,4,1,0,2,400,CLASS 3,0
69365,69366,138570B,BOEING,777-39LER,5,4,1,0,2,400,CLASS 3,0
69366,69367,138570C,BOEING,777-39PER,5,5,1,0,2,563,CLASS 3,0
69367,69368,1385800,BOEING,777-219,5,4,1,0,2,400,CLASS 3,0
69368,69369,1386000,BOEING,DHC 6,5,2,1,0,2,22,CLASS 1,0
69369,69370,1386001,BOEING,DHC-6-300,5,2,1,0,2,22,CLASS 1,0
69370,69371,1386002,BOEING,DHC-8-102,5,2,1,0,2,39,CLASS 3,0
69371,69372,1386003,BOEING,DHC-8-301,5,2,1,0,2,39,CLASS 3,0
69372,69373,1386004,BOEING,DHC-7-102,5,2,1,0,4,59,CLASS 3,0
69376,69377,1386010,BOEING,787-10,5,5,1,1,2,120,CLASS 3,0
69379,69380,1387000,BOEING,767-2AX,5,5,1,0,2,250,CLASS 3,0
69380,69381,1387001,BOEING,747-236B,5,5,1,0,4,490,CLASS 3,0
69381,69382,1387294,BOEING,777-3ALER,5,5,1,0,2,552,CLASS 3,0
69382,69383,1388000,BOEING,777-2U8,5,5,1,0,2,442,CLASS 3,0
69383,69384,1388002,BOEING,787-8,5,5,1,0,2,260,CLASS 3,0
69384,69385,138847O,BOEING,737-830,5,5,1,0,2,162,CLASS 3,0
69385,69386,1389000,BOEING,767-2FK,5,5,1,0,2,252,CLASS 3,0
69386,69387,1389001,BOEING,767-25E,5,5,1,0,2,260,CLASS 3,0
69387,69388,1389002,BOEING,CH-47F,6,3,1,1,2,4,CLASS 3,0
69388,69389,1389003,BOEING,CH147,6,3,1,1,1,4,CLASS 3,0
72554,72555,3022001,BOEING,DC-9-83,5,5,1,0,2,174,CLASS 4,0

In [193]:
ACref1 = ACref[['CODE', 'NO-SEATS', 'MFR', 'MODEL']]

In [194]:
ACref1.head()
ACref1['CODE'] = ACref1['CODE'].map(lambda x: str(x)[:-2])

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [195]:
ACref1.head()

    CODE  NO-SEATS                             MFR                 MODEL
0    301         1  EXLINE ACE-C                    ACE-C
1  00301         1  DELEBAUGH                       P
2  00301         1  DAL PORTO                       BABY ACE D
3  00301         1  DUNN                            BABY ACE
4  00301         1  EMMERT SPECIAL                  MODIFIED BABY ACE

In [196]:
ACref1.tail()

        CODE  NO-SEATS                             MFR                 MODEL
82596  99702         2  ZLIN                            142C
82597  99800        17  ZLT ZEPPELIN LUFTSCHIFFTECHNIK  LZ N07-100
82598  99800        15  ZLT ZEPPELIN LUFTSCHIFFTECHNIK  LZ NO7-101
82599  99999       999  UNKNOWN                         UNKNOWN
82600  99999         2  UNKNOWN                         UNKNOWN

In [164]:
ACage[ACage['N-NUMBER'] == "13844FM"]

Empty DataFrame
Columns: [serial, N-NUMBER, SERIAL NUMBER, MFR MDL CODE, ENG MFR MDL, YEAR MFR, TYPE REGISTRANT, NAME, STREET, STREET2, CITY, STATE, ZIP CODE, REGION, COUNTY, COUNTRY, LAST ACTION DATE, CERT ISSUE DATE, CERTIFICATION, TYPE AIRCRAFT, TYPE ENGINE, STATUS CODE, MODE S CODE, FRACT OWNER, AIR WORTH DATE, OTHER NAMES(1), OTHER NAMES(2), OTHER NAMES(3), OTHER NAMES(4), OTHER NAMES(5), EXPIRATION DATE, UNIQUE ID, KIT MFR,  KIT MODEL, MODE S CODE HEX]
Index: []

[0 rows x 35 columns]

In [16]:
ACage[ACage['MFR MDL CODE'] == '3940005']

,serial,N-NUMBER,SERIAL NUMBER,MFR MDL CODE,ENG MFR MDL,YEAR MFR,TYPE REGISTRANT,NAME,STREET,STREET2,...,OTHER NAMES(1),OTHER NAMES(2),OTHER NAMES(3),OTHER NAMES(4),OTHER NAMES(5),EXPIRATION DATE,UNIQUE ID,KIT MFR,KIT MODEL,MODE S CODE HEX
22565,22566,150UW,5504,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1116635,,,A0CC06
22978,22979,151UW,5513,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1118781,,,A0CFBD
23401,23402,152UW,5588,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1122521,,,A0D374
23736,23737,153UW,5594,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1122522,,,A0D72B
24067,24068,154UW,5644,3940005,13101,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1124386,,,A0DAE2
24422,24423,155UW,5659,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1125492,,,A0DE99
24748,24749,156UW,5684,3940005,13101,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1125495,,,A0E250
25073,25074,157UW,5696,3940005,13101,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1125494,,,A0E607
35629,35630,186US,1701,3940005,13802,2002,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,144177,,,A158C9
35909,35910,187US,1704,3940005,13802,2002,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,474177,,,A15C80
36209,36210,188US,1724,3940005,13802,2002,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,244006,,,A16037
38170,38171,193UW,3584,3940005,13006,2008,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1010228,,,A17527
38520,38521,194UW,3629,3940005,,,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1012910,,,A178DE
38918,38919,195UW,3633,3940005,13006,2008,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1014304,,,A17C95
39257,39258,196UW,3879,3940005,13063,2009,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1027805,,,A1804C
39619,39620,197UW,3928,3940005,13006,2009,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1030178,,,A18403
39925,39926,198UW,5444,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1114340,,,A187BA
40285,40286,199UW,5475,3940005,13006,2013,3,AMERICAN AIRLINES INC ...,4333 AMON CARTER BLVD MD5569,,...,...,...,...,...,...,20181231,1116639,,,A18B71
81381,81382,301DN,6923,3940005,13101,2016,3,DELTA AIR LINES INC ...,DEPT 595 AIRCRAFT REGISTRATION,1775 M H JACKSON SERVICE RD,...,...,...,...,...,...,20190331,1210169,,,A32361
81814,81815,302DN,7031,3940005,13101,2016,3,DELTA AIR LINES INC ...,DEPT 595 AIRCRAFT REGISTRATIONS,1775 MH JACKSON SERVICE RD,...,...,...,...,...,...,20190430,1210186,,,A32718
82216,82217,303DN,7061,3940005,13101,2016,3,DELTA AIR LINES INC ...,DEPT 595 AIRCRAFT REGISTRATIONS,1775 M H JACKSON SERVICE RD,...,...,...,...,...,...,20190430,1213832,,,A32ACF
82628,82629,304DN,7112,3940005,13101,2016,3,DELTA AIR LINES INC ...,DEPT 595 AIRCRAFT REGISTRATIONS,1775 M H JACKSON SERVICE RD,...,...,...,...,...,...,20190630,1217300,,,A32E86
83040,83041,305DN,7149,3940005,13101,2016,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,DEPT 595,...,...,...,...,...,...,20190630,1217297,,,A3323D
83449,83450,306DN,7165,3940005,13101,2016,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,,...,DEPT 595 AIRCRAFT REGISTRATIONS ...,...,...,...,...,20190731,1220555,,,A335F4
83827,83828,307DX,7214,3940005,13101,2016,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,,...,DEPT 595 AIRCRAFT REGISTRATIONS ...,...,...,...,...,20190731,1220560,,,A339B4
84207,84208,308DN,7233,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST FL 5,MAC U1228-051,...,...,...,...,...,...,20190831,1227597,,,A33D62
84572,84573,309DN,7268,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,5TH FLOOR MAC U1228-051,299 S MAIN ST,...,...,...,...,...,...,20190831,1225950,,,A34119
85182,85183,310DN,7293,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST 5TH FLOOR,MAC U1228-051,...,...,...,...,...,...,20190930,1225954,,,A34729
85660,85661,311DN,7304,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20190930,1230427,,,A34AE0
86066,86067,312DN,7364,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST FL 5,MAC U1228-051,...,...,...,...,...,...,20191130,1230451,,,A34E97
86445,86446,313DN,7381,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST 5TH FLOOR,MAC U1228-051,...,...,...,...,...,...,20191130,1230454,,,A3524E
86797,86798,314DN,7281,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST,...,...,...,...,...,...,20191231,1236365,,,A35605
87160,87161,315DN,7436,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20191231,1236740,,,A359BC
87542,87543,316DN,7327,3940005,13101,2017,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20200131,1240056,,,A35D73
87943,87944,317DN,7373,3940005,,,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20200229,1242497,,,A3612A
88300,88301,318DX,7441,3940005,,,3,DELTA AIR LINES INC ...,1775 M H JACKSON SERVICE RD,DEPT 595,...,...,...,...,...,...,20200331,1246114,,,A364EA
217938,217939,701FR,6793,3940005,13101,2015,3,AFS INVESTMENTS 68 LLC ...,ATTN: OPERATIONS LEADER,901 MAIN AVE,...,...,...,...,...,...,20181031,1189056,,,A958D2
218423,218424,702FR,6825,3940005,13101,2015,3,AFS INVESTMENTS 68 LLC ...,ATTN: OPERATIONS LEADER,901 MAIN AVE,...,...,...,...,...,...,20181031,1191467,,,A95C89
219188,219189,704FR,6845,3940005,13101,2015,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST 5TH FLOOR,MAC U1228-051,...,...,...,...,...,...,20200331,1191466,,,A963F7
219711,219712,705FR,6891,3940005,13101,2015,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20200331,1195831,,,A967AE
220082,220083,706FR,6926,3940005,13101,2015,3,AFS INVESTMENTS 68 LLC ...,901 MAIN AVE,,...,...,...,...,...,...,20181231,1197936,,,A96B65
220892,220893,708FR,7042,3940005,13101,2015,3,AFS INVESTMENTS 68 LLC ...,901 MAIN AVE,,...,...,...,...,...,...,20190331,1210178,,,A972D3
221254,221255,709FR,7097,3940005,13802,2016,3,AFS INVESTMENTS 68 LLC ...,901 MAIN AVE,,...,...,...,...,...,...,20190430,1213826,,,A9768A
221869,221870,710FR,7179,3940005,13101,2016,3,AFS INVESTMENTS 68 LLC ...,901 MAIN AVE,,...,...,...,...,...,...,20190630,1220556,,,A97C9A
222291,222292,711FR,7184,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,5TH FLOOR MAC U1228-51,299 S MAIN ST,...,...,...,...,...,...,20190630,1220557,,,A98051
222790,222791,712FR,7204,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST 5TH FL,MAC U1228-051,...,...,...,...,...,...,20190731,1220558,,,A98408
223187,223188,713FR,7286,3940005,13101,2016,3,AFS INVESTMENTS 68 LLC ...,901 MAIN AVE,,...,...,...,...,...,...,20190831,1225945,,,A987BF
223618,223619,714FR,7294,3940005,13802,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1128-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20190930,1225943,,,A98B76
224144,224145,715FR,7313,3940005,13101,2016,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20190930,1227839,,,A98F2D
224525,224526,716FR,7524,3940005,,,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST FL 5 # U1228-051,,...,...,...,...,...,...,20200131,1239569,,,A992E4
224901,224902,717FR,7536,3940005,,,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,299 S MAIN ST STH FL,MAC U1228-051,...,...,...,...,...,...,20200229,1239567,,,A9969B
225308,225309,718FR,7575,3940005,,,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20200331,1241062,,,A99A52
235546,235547,744AV,6767,3940005,13101,2015,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20180930,1186870,,,AA017A
236100,236101,746AV,6511,3940005,13007,2015,3,WELLS FARGO BANK NORTHWEST NA TRUSTEE ...,MAC U1228-051,299 S MAIN ST FL 5,...,...,...,...,...,...,20181031,1191469,,,AA08E8

In [197]:
ACage1 = ACage[['N-NUMBER', 'MFR MDL CODE', 'YEAR MFR']].copy()

In [198]:
ACage1.tail()

       N-NUMBER MFR MDL CODE YEAR MFR
318639    9ZS        5760102     1974
318640    9ZT        2130001     2001
318641    9ZU        7101828     1959
318642    9ZV        1181511     1984
318643    9ZX        05655US     1986

In [199]:
kaggle_unique1 = kaggle_unique.merge(ACage1, on='N-NUMBER', how='left')

In [210]:
kaggle_unique1.head()

  N-NUMBER MFR MDL CODE YEAR MFR
0    407AS        13848     2012
1    3KUAA            n      NaN
2    171US        39303     2001
3    3HYAA            n      NaN
4    527AS        13845

In [203]:
#kaggle_unique1['MFR MDL CODE'] = kaggle_unique1['MFR MDL CODE'][:-3].strip()
kaggle_unique1['MFR MDL CODE'] = kaggle_unique1['MFR MDL CODE'].map(lambda x: str(x)[:-2])
kaggle_unique1.tail()

     N-NUMBER MFR MDL CODE YEAR MFR
4891    8675A        13844     2015
4892    7LUAA            n      NaN
4893    7LEAA            n      NaN
4894    850DN        13848
4895    8676A        13844     2015

In [122]:
ace = "closeUPS"
ace.rstrip()

SyntaxError: invalid syntax (<ipython-input-122-f4669684ac82>, line 2)

In [204]:
ACref3 = ACref1.rename(columns={'CODE':'MFR MDL CODE'})

In [238]:
ACref3.head()

  MFR MDL CODE  NO-SEATS                             MFR                 MODEL
0          301         1  EXLINE ACE-C                    ACE-C
1        00301         1  DELEBAUGH                       P
2        00301         1  DAL PORTO                       BABY ACE D
3        00301         1  DUNN                            BABY ACE
4        00301         1  EMMERT SPECIAL                  MODIFIED BABY ACE

In [239]:
ACref3.drop_duplicates(subset='MFR MDL CODE', inplace=True)

In [242]:
ACref3.head()

,MFR MDL CODE,NO-SEATS,MFR,MODEL
0,301,1,EXLINE ACE-C,ACE-C
1,00301,1,DELEBAUGH,P
92,302,2,CORBEN,JUNIOR ACE
102,00302,2,VINYARD,JUNIOR ACE
106,303,1,CORBEN - ROE,1-PCLM

In [247]:
kaggle_unique3 = kaggle_unique1.merge(ACref3, on='MFR MDL CODE', how='left')
#kaggle_unique1.info()

In [248]:
kaggle_unique3.tail()

,N-NUMBER,MFR MDL CODE,YEAR MFR,NO-SEATS,MFR,MODEL
4891,8675A,13844,2015,149.0,BOEING,737-7FB
4892,7LUAA,n,NaN,NaN,NaN,NaN
4893,7LEAA,n,NaN,NaN,NaN,NaN
4894,850DN,13848,,490.0,BOEING,747-209F
4895,8676A,13844,2015,149.0,BOEING,737-7FB

In [251]:
kaggle_unique3.to_csv('aircraftdetails.csv')