In [1]:
import pandas as pd
import numpy as np
flights = pd.read_csv('flightsbyWWpart2.csv')
flights = pd.DataFrame(flights)

/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
flights.head()

,Unnamed: 0,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,ARRIVAL_DELAY,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,WW,DAY_COUNT
0,0,4,AS,98,N407AS,ANC,SEA,-22.0,NaN,NaN,NaN,NaN,NaN,1,1
1,1,4,AA,2336,N3KUAA,LAX,PBI,-9.0,NaN,NaN,NaN,NaN,NaN,1,1
2,2,4,US,840,N171US,SFO,CLT,5.0,NaN,NaN,NaN,NaN,NaN,1,1
3,3,4,AA,258,N3HYAA,LAX,MIA,-9.0,NaN,NaN,NaN,NaN,NaN,1,1
4,4,4,AS,135,N527AS,SEA,ANC,-21.0,NaN,NaN,NaN,NaN,NaN,1,1

In [3]:
flights1 = flights['TAIL_NUMBER'].copy()

In [5]:
flights1 = pd.DataFrame(flights1)

In [8]:
flights1.to_csv('tail.csv')